# Python
__pycache__/
*.pyc
venv/
.env
instance/
 
# Database
*.db

# Node
node_modules/
frontend/build/

# Env
.env

# VS Code / Visual Studio
.vs/
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# IDE
.vs/
.vscode/
 
